<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="SessionTimeoutInMins" value="30" />
  
  <add key="ETAClientId" value="100313" />
  <add key="StockSupplierId" value="1" />
  <add key="RootPath" value="http://localhost/spbeta/api/" />
</appSettings>