<?xml version="1.0"?>
<templates.config>
  <templates>
    <template key="supplierrfq" path="~/templates/pdf/supplierrfq-template.cshtml"  />
    <template key="checklist" path="~/templates/pdf/checklist-template.cshtml"  />
    <template key="deliveryorder" path="~/templates/pdf/deliveryorder-template.cshtml"  />
    <template key="invoice" path="~/templates/pdf/invoice-template.cshtml"  />
    <template key="operationsheet" path="~/templates/pdf/operationsheet-template.cshtml"  />
    <template key="supplierpo" path="~/templates/pdf/supplierpo-template.cshtml"  />

    <template key="supplierrfq-mail" path="~/templates/email/supplierrfq.cshtml"  />
    <template key="clientrfq-mail" path="~/templates/email/clientrfq.cshtml"  />
    <template key="clientrfqfv-mail" path="~/templates/email/clientrfqfv.cshtml"  />
    <template key="invoice-mail" path="~/templates/email/invoice.cshtml"  />
    <template key="invoicefv-mail" path="~/templates/email/invoicefv.cshtml"  />
    <template key="supplierpo-mail" path="~/templates/email/supplierpo.cshtml"  />
  </templates>
</templates.config>