@model dynamic

<table class="tbl-class" style="text-align: center; font-family: Arial; font-size: 8px; width: 650px;" border="0" cellpadding="1" cellspacing="1">
    <tr>
        <td class="td-content" style="width:50%;height:130px">
            <div>
                <img src="https://eta.shippingprovision.com/templates/pdf/header.png" alt="ETA SHIPPING SERVICES PTE LTD" height="100px" width="300px" />
            </div>
        </td>
        <td class="td-content" style="width:50%;text-align:left;font-size:12px;">
        </td>
    </tr>
</table>